SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
LEGACY_DATABASE_URL=
REDIS_URL=
EMAIL_CONFIG=
TIME_ZONE=Asia/Tokyo
CORS_ALLOWED_ORIGINS=
DJANGO_LOG_LEVEL=INFO
APP_LOG_LEVEL=INFO
